frame_color = "#{{base0I-hex}}"
separator_color = "#{{base0I-hex}}"

[urgency_low]
    # IMPORTANT: colors have to be defined in quotation marks.
    msg_urgency = low
    frame_color = "#{{base04-hex}}"
    background = "#{{base0H-hex}}"
    foreground = "#{{base0E-hex}}"
    timeout = 2

[urgency_normal]
    # IMPORTANT: colors have to be defined in quotation marks.
    msg_urgency = normal
    frame_color = "#{{base05-hex}}"
    background = "#{{base0H-hex}}"
    foreground = "#{{base04-hex}}"
    timeout = 4

[urgency_critical]
    # IMPORTANT: colors have to be defined in quotation marks.
    msg_urgency = critical
    frame_color = "#{{base05-hex}}"
    background = "#{{base01-hex}}"
    foreground = "#{{base07-hex}}"
    timeout = 8

