#!/usr/bin/env xdg-open
[Desktop Entry]
Encoding=UTF-8
Exec=xdg-user-dirs-gtk-update
Name=User folders update
Name[an]=Esvielle d'as carpetas de l'usuario
Name[ar]=تحديث مجلدات المستخدم
Name[as]=ব্যৱহাৰকৰ্তাৰ ফোল্ডাৰৰ উন্নয়ন
Name[ast]=Anovamientu de les carpetes del usuariu
Name[be]=Абнаўленне назваў карыстальніцкіх папак
Name[be@latin]=Aktualizacyja katalohaŭ karystalnika
Name[bg]=Превеждане на имената на стандартните папки
Name[bn_IN]=ব্যবহারকারীর ফোল্ডার আপডেট
Name[bs]=Ažuriranje korisničkih direktorija
Name[ca]=Actualització de les carpetes d'usuari
Name[crh]=Qullanıcı cilbentleriniñ yañartıluvı
Name[cs]=Aktualizace uživatelských složek
Name[csb]=Aktualizacëjô kataloga brëkòwnika
Name[da]=Opdatering af brugermapper
Name[de]=Aktualisierung der Ordner des Benutzers
Name[el]=Ενημέρωση φακέλων χρήστη
Name[en_GB]=User folders update
Name[eo]=Ĝisdatigo de uzantaj dosierujoj
Name[es]=Actualización de las carpetas del usuario
Name[et]=Kasutaja kataloogide uuendamine
Name[eu]=Erabiltzailearen karpeten eguneraketa
Name[fi]=Vakiokansioiden päivitys
Name[fr]=Mise à jour des dossiers utilisateur
Name[fur]=Inzornament cartelis utent
Name[gl]=Actualizar os cartafoles do usuario
Name[gu]=વપરાશકર્તાનાં ફોલ્ડરોનો સુધારો
Name[he]=עדכון תיקיות המשתמש
Name[hi]=उपयोक्ता फोल्डर अद्यतन
Name[hr]=Nadopuna korisnikovih mapa
Name[hu]=Felhasználói mappák frissítése
Name[id]=Pembaruan folder pengguna
Name[is]=Uppfæra möppur notanda
Name[it]=Aggiorna cartelle utente
Name[ja]=ユーザー・フォルダーの更新
Name[ka]=მომხმარებელთა დასტების განახლება
Name[kg]=mu sekokae nta
Name[kk]=Пайдаланушы бумаларын жаңарту
Name[kn]=ಬಳಕೆದಾರ ಕಡತಕೋಶಗಳ ಅಪ್‌ಡೇಟ್‌
Name[ko]=사용자 폴더 업데이트
Name[ku]=Rojanekirina peldankên bikarhênerê/î
Name[lt]=Naudotojo aplankų atnaujinimas
Name[lv]=Lietotāja mapju atjaunināšana
Name[ml]=ഉപയോക്താവിന്റെ ഫോള്‍ഡറുകളുടെ പരിഷ്കരണം
Name[mr]=वापरकर्ता पोल्डर्सची सुधारणा
Name[nb]=Oppdatering av brukermapper
Name[nds]=Brukerverteeknisopfrischen
Name[nl]=Gebruikersmappen aanpassen
Name[or]=ଚାଳକ ଫୋଲଡରଗୁଡ଼ିକର ଅଦ୍ୟତନ
Name[pa]=ਯੂਜ਼ਰ ਫੋਲਡਰ ਅੱਪਡੇਟ
Name[pl]=Aktualizacja katalogów użytkownika
Name[ps]=د کارن پوښېو اوسمهالونه
Name[pt]=Atualização de pastas do utilizador
Name[pt_BR]=Atualizar pastas de usuário
Name[ro]=Actualizare dosare utilizator
Name[ru]=Обновление папок пользователя
Name[si]=පරිශීලක බහාලුම් යාවත්කාලීනය
Name[sk]=Aktualizácia používateľských priečinkov
Name[sl]=Uporabniška posodobitev map
Name[sq]=Përditëso kartelat e përdoruesit
Name[sr]=Преименовање фасцикли
Name[sr@latin]=Preimenovanje fascikli
Name[sv]=Uppdatera användarmappar
Name[ta]=பயனர் கோப்புறைகளை மேம்படுத்து
Name[te]=వినియోగదారి ఫోల్డర్ల నవీకరణ
Name[th]=ปรับชื่อโฟลเดอร์ผู้ใช้
Name[tr]=Kullanıcı klasörlerinin güncelleştirilmesi
Name[uk]=Оновлення тек користувача
Name[vi]=Cập nhật thư mục người dùng
Name[zh_CN]=用户文件夹更新
Name[zh_HK]=使用者資料夾更新
Name[zh_TW]=使用者資料夾更新
Comment=Update common folders names to match current locale
Comment[af]=Dateer algemene gidsname op om te pas by die huidige lokaliteitsinstelling
Comment[an]=Esviellar os nombres d'as carpetas ta conincidir con a configuracion rechional actual
Comment[ar]=حدّث أسماء المجلدات المشتركة لتطابق المحلية الحالية
Comment[as]=বৰ্ত্তমানৰ লোকেইলৰ লগত মিলাবলৈ সাধাৰণ ফোল্ডাৰৰ নাম উন্নয়ন কৰক
Comment[ast]=Anovar los nomes comunes de les carpetes pa que concasen cola configuración rexonal actual
Comment[be]=Абнаўленне назваў стандартных папак у адпаведнасці з актыўнымі настройкамі мясцовасці
Comment[be@latin]=Aktualizuj nazvy asnoŭnych katalohaŭ, kab adpaviadali dziejnaj lakalnaści
Comment[bg]=Превеждане на имената на стандартните папки към текущо ползвания език
Comment[bn_IN]=বর্তমান লোকেইল অনুযায়ী, সাধারণ ফোল্ডারগুলির নাম পরিবর্তন করা হবে
Comment[bs]=Promijeni imena često korišćenih direktorija na trenutni jezik
Comment[ca]=Actualitza els noms de les carpetes comunes per a coincidir amb l'idioma actual
Comment[crh]=Umumiy cilbentlerniñ isimlerini ağımdaki tilge uyğunlaştır
Comment[cs]=Aktualizovat názvy běžných složek podle aktuální lokalizace libc
Comment[csb]=Aktualizacëjô nowich mionów katalogów do aktualnegò nastôwù jãzëka
Comment[da]=Opdatér almindelige mappenavne, så de passer til det aktuelt valgte sprog
Comment[de]=Namen der Standardordner auf die momentan verwendete Sprache aktualisieren
Comment[el]=Ενημέρωση ονομάτων των συνηθισμένων φακέλων ώστε να ταιριάζουν στην τρέχουσα γλώσσα
Comment[en_GB]=Update common folders names to match current locale
Comment[eo]=Ĝisdatigi komunajn dosierujnomojn por tute kongrui aktualan lokan lingvon
Comment[es]=Actualizar los nombres comunes de las carpetas para coincidir con la configuración regional actual
Comment[et]=Standardkaustade nimede uuendamine, et need sobiksid valitud keelega
Comment[eu]=Eguneratu karpeta arrunten izenak uneko lokalearekin bat etortzeko
Comment[fi]=Päivitä vakiokansioiden nimet nykyisten kieliasetusten perusteella
Comment[fr]=Mettre à jour les noms des dossiers courants pour correspondre à la langue (« locale ») actuelle
Comment[fur]=Inzorne i nons des cartelis ordenaris in base ae lenghe in ûs
Comment[gl]=Actualizar nomes dos cartafoles comúns para coincidir co locale actual
Comment[gu]=હાલનાં લોકેલ ને બંધબેસતા સામાન્ય ફોલ્ડર નામોને સુધારો
Comment[he]=עדכון שמות של תיקיות נפוצות כך שיתאימו לשפה הנוכחית
Comment[hi]=मौजूदा फोल्डर से मेल खाने के लिए सामान्य फोल्डर नाम को अद्यतन करें
Comment[hr]=Nadopuni nazive uobičajenih mapa kako bi odgovarali trenutnom jeziku
Comment[hu]=Általános mappanevek frissítése a jelenlegi területi beállításra
Comment[id]=Perbarui nama folder umum untuk disamakan dengan lokal saat ini
Comment[is]=Uppfæra möppur til að passa við núverandi tungumál
Comment[it]=Aggiorna i nomi di cartella comuni in base alla lingua in uso
Comment[ja]=標準フォルダーの名前を現在の言語に合わせて更新します
Comment[ka]=დასტების მიმდინარე ლოკალის მიხედვით განახლება
Comment[kg]=bandula nta za lundombe mu ndingAku
Comment[kk]=Ағымдағы тілге сәйкес келуі үшін қалыпты бумалар атауларын жаңарту
Comment[kn]=ಪ್ರಸಕ್ತ ಭಾಷೆಗೆ(ಲೊಕ್ಯಾಲ್‌) ಹೊಂದಿಕೊಳ್ಳುವಂತೆ ಸಾಮಾನ್ಯ ಕಡತಕೋಶದ ಹೆಸರುಗಳನ್ನು ಬದಲಾಯಿಸಿ
Comment[ko]=현재 로캘에 맞게 공통 폴더의 이름을 바꿉니다
Comment[ku]=Navên peldankên zêde bikaranî rojane bike da ku lihevhatina bi localeya heyî re hebe.
Comment[lt]=Atnaujinti standartinių aplankų vardus pagal nustatytą lokalę
Comment[lv]=Atjaunināt vispārīgo mapju nosaukumus, lai tie sakristu ar izvēlēto lokāli 
Comment[ml]=ഇപ്പോഴുള്ള ലൊക്കേലുമായി പൊരുത്തപ്പെടുന്ന സാധാരണ ഫോള്‍ഡര്‍ നാമങ്ങള്‍ നല്‍കുക
Comment[mr]=सध्याच्या लोकेलची जुळवणी करण्यासाठी सामान्य फोल्डरचे नावे सुधारीत करा
Comment[nb]=Oppdater navn på vanlige mapper til aktivt språk
Comment[nds]=Allgemeene Verteeknisnaamen in de neje Sprak opfrischen
Comment[nl]=Namen van standaardmappen aanpassen aan de huidige taalinstelling
Comment[or]=ପ୍ରଚଳିତ ଭାଷା ସହିତ ମେଳାଇବା ପାଇଁ ସାଧାରଣ ଫୋଲଡର ନାମଗୁଡ଼ିକୁ ଅଦ୍ୟତନ କରନ୍ତୁ
Comment[pa]=ਆਮ ਫੋਲਡਰ ਨਾਂ ਮੌਜੂਦਾ ਲੋਕੇਲ ਨਾਲ ਮਿਲਾਉਣ ਵਾਸਤੇ ਅੱਪਡੇਟ
Comment[pl]=Aktualizowanie nazw katalogów do bieżących ustawień językowych
Comment[ps]=د ټولګړو پوښېو نومونه اوسمهالول چې د اوسنۍ ځاييزونې سره ساري شي
Comment[pt]=Atualizar os nomes de pastas comuns para corresponderem ao idioma atual
Comment[pt_BR]=Atualiza o nome de pastas comuns para se adequar à localização atual
Comment[ro]=Actualizați numele dosarelor uzuale pentru a se potrivi cu localizarea curentă
Comment[ru]=Обновить имена общих папок для соответствия текущему языку
Comment[sk]=Aktualizovať názvy bežných priečinkov, aby sa zhodovali so súčasným jazykom
Comment[sl]=Posodobi imena map na trenutno izbrani jezik
Comment[sq]=Përditëso emrat e kartelave të zakonshme në bazë të gjuhës në përdorim
Comment[sr]=Усклађује имена стандардних фасцикли са тренутним језиком
Comment[sr@latin]=Usklađuje imena standardnih fascikli sa trenutnim jezikom
Comment[sv]=Uppdatera vanliga mappnamn för att passa aktuell lokal
Comment[ta]=நடப்பு உள்ளமைக்கு பொதுவான கோப்புறைகளின் பெயர்களை பொருத்துவதற்கு மேம்படுத்து
Comment[te]=ఉమ్మడి ఫోల్డర్ నామములను ప్రస్తుత స్థానికానికి నవీకరించుము
Comment[th]=ปรับชื่อโฟลเดอร์มาตรฐานให้เป็นภาษาเดียวกับโลแคลปัจจุบัน
Comment[tr]=Genel klasör adlarını geçerli dile uyumlu hale getirmek için güncelleştir
Comment[uk]=Оновити імена загальних тек для відповідності поточній локалі
Comment[vi]=Cập nhật tên các thư mục thông dụng cho khớp với ngôn ngữ bản địa
Comment[zh_CN]=更新公共文件夹名称以匹配当前区域设置
Comment[zh_HK]=更新常用資料夾名稱以符合目前的語言區域設定
Comment[zh_TW]=更新常用資料夾名稱以符合目前的語言區域設定
Terminal=false
OnlyShowIn=GNOME;LXDE;Unity;MATE;i3;
Type=Application
StartupNotify=false
X-KDE-autostart-after=panel
