# ColorScheme {{scheme-name}} 256 - kitty color config
# Scheme by {{scheme-author}}
background #{{base0H-hex}}
foreground #{{base0G-hex}}
selection_background #{{base0C-hex}}
selection_foreground #{{base0H-hex}}
url_color #{{base06-hex}}
cursor #{{base07-hex}}
active_border_color #{{base07-hex}}
inactive_border_color #{{base08-hex}}
active_tab_background #{{base07-hex}}
active_tab_foreground #{{base08-hex}}
inactive_tab_background #{{base07-hex}}
inactive_tab_foreground #{{base08-hex}}
tab_bar_background #{{base0G-hex}}

# normal
color0 #{{base00-hex}}
color1 #{{base01-hex}}
color2 #{{base02-hex}}
color3 #{{base03-hex}}
color4 #{{base04-hex}}
color5 #{{base05-hex}}
color6 #{{base06-hex}}
color7 #{{base07-hex}}

# bright
color8 #{{base08-hex}}
color9 #{{base09-hex}}
color10 #{{base0A-hex}}
color11 #{{base0B-hex}}
color12 #{{base0C-hex}}
color13 #{{base0D-hex}}
color14 #{{base0E-hex}}
color15 #{{base0F-hex}}

# extended base16 colors
color16 #{{base09-hex}}
color17 #{{base0F-hex}}
color18 #{{base01-hex}}
color19 #{{base02-hex}}
color20 #{{base04-hex}}
color21 #{{base06-hex}}
